div,
span,
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
.container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 400px;
  -webkit-box-shadow: 0 0 2px 2px red;
  box-shadow: 0 0 2px 2px red;
  overflow: hidden;
}
.vslider {
  width: 100%;
  height: 100%;
  display: block;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: visible;
  overflow-y: visible;
  position: relative;
  z-index: 1;
}
.vslider .slides {
  display: block;
  position: absolute;
  z-index: 1;
}
.vslider .slides .slide {
  display: inline-block;
  position: relative;
  float: left;
}
.vslider .navs {
  display: block;
  position: absolute;
  height: 5em;
  width: 100%;
  top: 50%;
  margin-top: -2.5em;
  z-index: 1;
  background-color: none;
  line-height: 5em;
  font-size: 2em;
}
.vslider .navs a {
  text-decoration: none;
}
.vslider .navs .prev,
.vslider .navs .next {
  display: inline-block;
  width: 2em;
  color: rgba(128, 128, 128, 0.2);
  background-color: rgba(64, 64, 64, 0.1);
  text-align: center;
  font-weight: 800;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.vslider .navs .prev:hover,
.vslider .navs .next:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.vslider .navs .prev {
  float: left;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.vslider .navs .next {
  float: right;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.vslider:hover .navs {
  visibility: visible;
}
.vslider .indicators {
  display: block;
  position: absolute;
  z-index: 1;
  height: 1em;
  width: 100%;
  bottom: 1em;
  text-align: center;
}
.vslider .indicators .indicator {
  display: inline-block;
  border: 0.2em solid rgba(128, 128, 128, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0.2em;
  width: 0.3em;
  height: 0.3em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.vslider .indicators .indicator:hover {
  border: 0.2em solid white;
  background-color: rgba(192, 128, 128, 0.5);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.vslider .indicators .active {
  border: 0.2em solid white;
  background-color: rgba(192, 128, 128, 0.5);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.vslider .thumbnails {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-color: red;
  bottom: -110px;
}
.vslider .thumbnails .thumbnail img {
  width: 100px;
  float: left;
}
