div,
span,
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 500px;
    -webkit-box-shadow: 0 0 2px 2px red;
    box-shadow: 0 0 2px 2px red;
    overflow: hidden;
}

.vslider {
    // width: 100%;
    // height: 100%;
    width: 640px;
    height: 400px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    clear: right;
    -webkit-box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.6);
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.6);
    .slides {
        display: block;
        position: absolute;
        z-index: 1;
        .slide {
            display: inline-block;
            position: relative;
            float: left;
        }
    }
    .navs {
        display: block;
        position: absolute;
        height: 5em;
        width: 100%;
        top: 50%;
        margin-top: -2.5em;
        z-index: 1;
        background-color: none;
        line-height: 5em;
        font-size: 2em;
        a {
            text-decoration: none;
        }
        .prev,
        .next {
            display: inline-block;
            width: 2em;
            color: rgba(128, 128, 128, 0.2);
            background-color: rgba(64, 64, 64, 0.1);
            text-align: center;
            font-weight: 800;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
                background-color: rgba(0, 0, 0, 0.4);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
            }
        }
        .prev {
            float: left;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .next {
            float: right;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    &:hover {
        .navs {
            visibility: visible;
        }
    }
    .indicators {
        display: block;
        position: absolute;
        z-index: 2;
        height: 1em;
        width: 100%;
        bottom: 1em;
        text-align: center;
        .indicator {
            display: inline-block;
            border: 0.2em solid rgba(128, 128, 128, 0.2);
            background-color: rgba(255, 255, 255, 0.3);
            margin: 0.2em;
            width: 0.3em;
            height: 0.3em;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            &:hover {
                border: 0.2em solid white;
                background-color: rgba(192, 128, 128, 0.5);
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
        }
        .active {
            border: 0.2em solid white;
            background-color: rgba(192, 128, 128, 0.5);
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    }
}

.thumbnails {
    display: block;
    position: absolute;
    z-index: 2;
    height: 100px;
    // background-color: red;
    float: left;
    // bottom: -110px;
    .thumbnail {
        display: inline-block;
        float:left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 2px;
        img {
            width: 100px;
            float: left;
        }
        &.active {
            img {
                -webkit-box-shadow: 0 0 2px 2px rgba(64, 64, 64, 0.9);
                box-shadow: 0 0 2px 2px rgba(64, 64, 64, 0.9);
            }
        }
    }
}
